.deps
.libs
*.la
*.lo
*.o
*.pyc
Makefile
Makefile.in

bin
obj
.*.swp
*~
/*.kdev4
/.cproject
/.project
/.settings
/nbproject

/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
.dirstamp

/examples/accept
/examples/balance
/examples/connect
/examples/determ
/examples/display-last
/examples/fullnode
/examples/initchain
/examples/priv
/examples/proto
/examples/satoshiwords
/examples/txrad
/examples/uri
/examples/error.log
/examples/debug.log

/build
test/miscellaneous_fernando_tests/
cmake-build-debug/
cmake-build-release/
CMakeSettings.json

.vscode/

check_files.py
test_marchs.py
.DS_Store
CMakeUserPresets.json
